<%- include("../partials/dashboardheader.ejs") %> <%-
include("../partials/dashboardcss.ejs") %> <%-
include("../partials/userdetailscss.ejs") %> <%-
include("../partials/navbar.ejs") %>

<main class="main">
  <div class="container-lg">
    <% if (typeof error !=="undefined" && error.length > 0) { %>
      <p style="color: red"><%= error %></p>
      <% } %> <% if (typeof success !== "undefined" && success.length > 0) { %>
      <p style="color: green"><%= success %></p>
      <% } %>
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-8">
              <h2><b>Registered Student Details</b></h2>
            </div>
          </div>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>SINo</th>
              <th>Full Name</th>
              <th>CID</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% var count = 1; %>
            <% users.map((user) => { %>
              <% if(user.role === "user"){ %>
                <tr>
                  <td><%= count %></td>
                  <td><%= user.username %></td>
                  <td><%= user.cid %></td>
                  <td><%= user.email %></td>
                  <td>
                    <a href="/admin/dashboard/<%= user._id %>/delete" class="delete" title="Delete" data-toggle="tooltip"
                      ><i class="material-icons">&#xE872;</i></a
                    >
                  </td>
                </tr>
                <%count++ %>
              <% } %>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

<%- include("../partials/dashboardjs.ejs") %> <%-
include("../partials/footer.ejs") %>
